#suggestions {
    word-wrap:break-word;
}

#buttons {
    display:inline;
}

.button_Right {
    float:right;
}

.slider {
    /*-webkit-appearance: none;  /* Override default CSS styles */
    /*appearance: none;*/
    width: 80%; /* Full-width */
    height: 10px; /* Specified height */
    background: #d3d3d3; /* Grey background */
    outline: none; /* Remove outline */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
  }

.slidecontainer {
    width: 90%; /* Width of the outside container */
    text-align:center
  }

/* Mouse-over effects */
.slider:hover {
    opacity: 1; /* Fully shown on mouse-over */
  }