<!doctype html>
<html class="no-js">
    <head>
        <meta charset="utf-8">
        <title>Hierarchy Visualization Graph</title>
        <meta name="description" content="Hierarchy Visualization Graph based on a single network exported from Cytoscape 3.3">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="styles/main.css">
		<link rel="stylesheet" type="text/css" href="https://unpkg.com/@atlassian/aui@9.1/dist/aui/aui-prototyping.css" />

    </head>
    <body>
		<div class="aui-buttons" class="buttons">
			<button class="aui-button" id="switchGraphs" onClick="switchGraphButtonName()">Click to view Developer Cluster</button>
		</div>
        <!-- Actual Cytoscape.js Instance -->
        <div id="cy"></div>
        <script src="networks.js"></script>
        <script src="styles.js"></script>

        <script src="scripts/vendor.js"></script>
        <script src="scripts/main.js"></script>
        <script src="scripts/custom.js"></script>
        <script src="https://connect-cdn.atl-paas.net/all.js"></script>
		<script src="scripts/util.js"></script>
</body>
</html>
